# http://astra-linux.com/wiki/index.php/Network_Install

d-i debian-installer/locale string ru_RU
d-i debian-installer/locale select ru_RU.UTF-8
d-i debian-installer/language string ru
d-i debian-installer/country string RU
d-i debian-installer/keymap string ru

d-i console-tools/archs select at
d-i console-keymaps-at/keymap select ru
d-i console-setup/toggle string Alt+Shift
d-i console-setup/layoutcode string ru
d-i keyboard-configuration/toggle select Alt+Shift
d-i keyboard-configuration/layoutcode string ru
d-i keyboard-configuration/xkb-keymap select ru
d-i languagechooser/language-name-fb select Russian
d-i countrychooser/country-name select Russia


d-i netcfg/choose_interface select auto

d-i apt-setup/non-free boolean true
d-i apt-setup/contrib boolean true
d-i apt-setup/services-select none
d-i apt-setup/security_host string
d-i netcfg/get_hostname string test2
d-i netcfg/get_hostname seen true
d-i netcfg/get_domain string my.dom

d-i netcfg/wireless_wep string

d-i mirror/protocol string ftp
d-i mirror/country string manual
#d-i mirror/ftp/hostname string server
#d-i mirror/ftp/directory string /astra/unstable/smolensk/mounted-iso-main/
d-i mirror/ftp/hostname string 11.11.11.1
d-i mirror/ftp/directory string /astra/
d-i mirror/ftp/proxy string







d-i clock-setup/utc boolean true
d-i time/zone string Europe/Moscow
d-i clock-setup/ntp boolean true



d-i partman-auto/disk string /dev/sda
d-i partman-auto/method string regular
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-dm/device_remove_md boolean true
d-i partman-auto/purge_lvm_from_device boolean true
d-i partman-lvm/confirm boolean true

d-i partman-auto/choose_recipe select atomic
#d-i partman-auto/expert_recipe string \
#    test :: \
#        150000 10 200000 ext4 \
#            $primary{ } $bootable{ } \
#            method{ format } format{ } \
#            use_filesystem{ } filesystem{ ext4 } \
#            mountpoint{ / } \
#        . \
#        150000 10 200000 ext4 \
#            $primary{ } \
#            method{ keep } \
#            use_filesystem{ } filesystem{ ext4} \
#        . \
#        4000 10 100000 linux-swap \
#            $primary{ } \
#            method{ swap } format{ } \
#        .
d-i partman/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true





d-i base-installer/kernel/image string linux-image-generic

d-i passwd/make-user boolean true

d-i passwd/root-password password 12345678
d-i passwd/root-password-again password 12345678

d-i passwd/user-fullname string User
d-i passwd/username string user

d-i passwd/user-password password uspasswd
d-i passwd/user-password-again password uspasswd
d-i passwd/user-default-groups string audio cdrom dip video floppy plugdev fuse netdev bluetooth sudo

d-i apt-setup/non-free boolean true
d-i apt-setup/contrib boolean true


d-i debian-installer/allow_unauthenticated string true



tasksel tasksel/first multiselect Base, Fly, Database, Internet, Multimedia, Network, Office
#tasksel tasksel/first multiselect Base, Fly
#tasksel tasksel/first multiselect Базовые средства, Рабочий стол Fly
#tasksel tasksel/astra-feat-setup режим киоска, расширенные средства протоколирования
tasksel tasksel/astra-feat-setup multiselect
#d-i pkgsel/include string sudo openssh-server exim4-config bind9 vsftpd nfs-kernel-server portmap samba tftpd-hpa telnetd isc-dhcp-server python-django pyqt4-dev-tools parsec
d-i pkgsel/include string sudo openssh-server exim4-config python-django pyqt4-dev-tools parsec

d-i desktop-tablet-mode-switch/tablet-mode multiselect

tripwire tripwire/use-localkey boolean false
tripwire tripwire/use-sitekey boolean false
tripwire tripwire/installed note ok

#mysql-server mysql-server/root_password %PASSWORD%
#mysql-server mysql-server/root_password_again %PASSWORD%

dhcp3-server dhcp3-server/new_auth_behavior note

portsentry portsentry/warn_no_block note ok


astra-safepolicy astra-safepolicy/crack string  
astra-safepolicy astra-safepolicy/fsize string 10000
astra-safepolicy astra-safepolicy/iptables select Высокий
astra-safepolicy astra-safepolicy/nochmodx boolean false
astra-safepolicy astra-safepolicy/note_end note
astra-safepolicy astra-safepolicy/note_start note
astra-safepolicy astra-safepolicy/secrm multiselect /dev/sda1
astra-safepolicy astra-safepolicy/swaps multiselect /dev/sda5
astra-safepolicy astra-safepolicy/tally string 5
astra-safepolicy astra-safepolicy/ulimitsASK boolean true


astra-license astra-license/license boolean true

krb5-config krb5-config/kerberos_servers string 

libnss-ldapd libnss-ldapd/ldap-base string 
libnss-ldapd libnss-ldapd/ldap-uris string
libnss-ldapd libnss-ldapd/nsswitch multiselect services

ald-client ald-client/make_config boolean false
ald-client ald-client/manual_configure note

astra-feat-setup astra-feat-setup/feat multiselect

d-i console-cyrillic/switch select "Клавиша Menu"
d-i console-cyrillic/toggle select Control+Shift

d-i samba-common/dhcp boolean false
d-i samba-common/workgroup string testgroup1

popularity-contest popularity-contest/participate boolean false

d-i grub-pc/install_devices multiselect /dev/sda
d-i grub-installer/only_debian boolean true

d-i grub-installer/with_other_os boolean true

d-i grub-installer/password password qwertyui
d-i grub-installer/password-again password qwertyui
grub-installer grub-installer/password-mismatch error
d-i finish-install/reboot_in_progress note

d-i preseed/late_command string
#d-i preseed/late_command string \
#wget ftp://ftp/scripts/client_post_install.sh -O /target/root/post_install.sh ;\
#chmod 755 /target/root/post_install.sh ;\
#chroot /target /root/post_install.sh ;\
#rm /target/root/post_install.sh
